{% extends 'master/base.html' %}

{% block header %}
  <h2>Courses</h2>
  <p>This is the courses page of the eShikhon Information Management System. Here you can find information about our courses.</p>
{% endblock %}

{% block content %}
  <div class="w3-container w3-margin">
    <div style="text-align: right;">
      <a href="{% url 'entry_new_course' %}" class="w3-button w3-light-blue">Add New Course</a>
    </div>
    <h2>Summary</h2>
    Total number of courses: {{ courses|length }} <br />
    Today's new entries: {{ today_courses|length }} <br />
  </div>

  {% if today_courses %}
    <div class="w3-container w3-responsive w3-margin">
      <h2>Today's new entry</h2>

      <table class="w3-table-all w3-hoverable">
        <caption>Click on a course ID to see details information</caption>
        <thead>
          <tr class="w3-light-grey">
            <th>CourseID</th>
            <th>Name</th>
            <th>Duration</th>
          </tr>
        </thead>

        {% for data in today_courses %}
          <tr>
            <td>
              <a href="{% url 'course_detail' data.id %}">{{ data.CourseID }}</a>
            </td>
            <td>{{ data.Name }}</td>
            <td>{{ data.Duration }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}

  <div class="w3-container w3-responsive w3-margin">
    <h2>All Courses</h2>

    <table class="w3-table-all w3-hoverable">
      <caption>Click on a course ID to see details information</caption>
      <thead>
        <tr class="w3-light-grey">
          <th>CourseID</th>
          <th>Name</th>
          <th>Duration</th>
        </tr>
      </thead>

      {% for data in courses %}
        <tr>
          <td>
            <a href="{% url 'course_detail' data.id %}">{{ data.CourseID }}</a>
          </td>
          <td>{{ data.Name }}</td>
          <td>{{ data.Duration }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
