{% extends 'master/base.html' %}

{% block header %}
  <h2>Add New Co-Worker</h2>
  <p>This page allows you to add information about a new co-worker to the eShikhon Information Management System.</p>
{% endblock %}

{% block content %}
  <form class="w3-container" method="post" action="{% url 'entry_new_co_worker' %}">
    {% csrf_token %}
    <p>
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" />
    </p>
    <p>
        <label>Worker ID</label>
        <input class="w3-input" type="text" name="WorkerID" />
    </p>
    <p>
        <label>Designation</label>
        <input class="w3-input" type="text" name="Designation" />
    </p>
    <p>
        <label>Age</label>
        <input class="w3-input" type="number" name="Age" />
    </p>
    <p>
        <label>Address</label>
        <input class="w3-input" type="text" name="Address" />
    </p>
    <p>
        <label>Home District</label>
        <input class="w3-input" type="text" name="HomeDistrict" />
    </p>
    <p>
        <label>NID</label>
        <input class="w3-input" type="text" name="NID" />
    </p>
    <p>
        <label>Join Date</label>
        <input class="w3-input" type="date" name="JoinDate" />
    </p>
    <p>
        <label>Year of Experience</label>
        <input class="w3-input" type="number" name="YearOfExperience" />
    </p>
    <p>
        <label>Previously Worked In</label>
        <textarea class="w3-input" name="PreviouslyWorkedIn"></textarea>
    </p>
    <p>
        <label>Working Hours</label>
        <input class="w3-input" type="text" name="WorkingHours" />
    </p>
    <p>
        <label>Salary</label>
        <input class="w3-input" type="number" step="0.01" name="salary" />
    </p>
    <p>
      <button class="w3-button w3-green" type="submit">Submit</button>
    </p>
  </form>
{% endblock %}