{% extends 'master/base.html' %}

{% block header %}
  <h2>Add New Trainer</h2>
  <p>This page allows you to add information about a new trainer to the eShikhon Information Management System.</p>
{% endblock %}

{% block content %}
  <form class="w3-container" method="post" action="{% url 'entry_new_trainer' %}">
    {% csrf_token %}
    <p>
      <label>Name</label>
      <input class="w3-input" type="text" name="Name" />
    </p>
    <p>
      <label>Trainer ID</label>
      <input class="w3-input" type="text" name="TrainerID" />
    </p>
    <p>
      <label>Designation</label>
      <input class="w3-input" type="text" name="Designation" /> 
    </p>
    <p>
      <label>Age</label>
      <input class="w3-input" type="number" name="Age" />
    </p>
    <p>
      <label>Address</label>
      <input class="w3-input" type="text" name="Address" />
    </p>
    <p>
      <label>Home District</label>
      <input class="w3-input" type="text" name="HomeDistrict" />
    </p>
    <p>
      <label>NID</label>
      <input class="w3-input" type="text" name="NID" />
    </p>
    <p>
      <label>Join Date</label>
      <input class="w3-input" type="date" name="JoinDate" />
    </p>
    <p>
      <label>Year of Experience</label>
      <input class="w3-input" type="number" name="YearOfExperience" />
    </p>
    <p>
      <label>Previously Worked In</label>
      <input class="w3-input" type="text" name="PreviouslyWorkedIn" />
    </p>
    <p>
      <label>Working Hours</label>
      <input class="w3-input" type="text" name="WorkingHours" />
    </p>
    <p>
      <label>Salary</label>
      <input class="w3-input" type="number" step="0.01" name="salary" />
    </p>
    <p>
      <label>Course Assigned</label>
      <input class="w3-input" type="text" name="CourseAssigned" /> 
    </p>
    <p>
      <label>Batch Assigned</label>
      <input class="w3-input" type="text" name="BatchAssigned" />
    </p>
    <p>
      <button class="w3-button w3-green" type="submit">Submit</button>
    </p>
  </form>
{% endblock %}


{% comment %}
     TrainerID = models.CharField(max_length=25)
    Name = models.CharField(max_length=25)
    Designation = models.CharField(max_length=25)

    # Detailed Information
    Age = models.PositiveSmallIntegerField()
    Address = models.CharField(max_length=25)
    HomeDistrict = models.CharField(max_length=25)
    NID = models.CharField(max_length=25)
    
    JoinDate = models.DateField()
    YearOfExperience = models.PositiveSmallIntegerField()
    PreviouslyWorkedIn = models.TextField() # name, designation , duration

    WorkingHours = models.CharField(max_length=25)
    salary = models.DecimalField(max_digits=10, decimal_places=2)
    CourseAssigned = models.CharField(max_length=200)
    BatchAssigned = models.CharField(max_length=25)
{% endcomment %}
    