{% extends 'master/base.html' %}

{% block header %}
    <h2>Welcome to eShikhon Information Management System</h2>
    <p>This is the home page of the eShikhon Information Management System. Here you can find information about our trainers, students, courses, and co-workers.</p>
{% endblock %}
{% block content %}
  <div class="w3-row">
    <div class="w3-third w3-center w3-padding w3-margin-top">
      <h3>Trainers</h3>
      <p>Our trainers are highly qualified and experienced professionals who are dedicated to providing quality education to our students.</p>
    </div>
    <div class="w3-third w3-center w3-padding w3-margin-top">
      <h3>Students</h3>
      <p>Our students are the heart of our institution. We strive to create a supportive and engaging learning environment for them.</p>
    </div>
    <div class="w3-third w3-center w3-padding w3-margin-top">
      <h3>Courses</h3>
      <p>We offer a wide range of courses in various fields to cater to the diverse interests and career goals of our students.</p>
    </div>
    <div class="w3-third w3-center w3-padding w3-margin-top">
      <h3>Co-Workers</h3>
      <p>Our co-workers play a crucial role in ensuring the smooth functioning of our institution. They are committed to supporting our trainers and students in every possible way.</p>
    </div>
    <div class="w3-third w3-center w3-padding w3-margin-top">
        <h3>Contact Us</h3>
        <p>If you have any questions or need further information, please feel free to contact us. We are here to help you.</p>
    </div>
    <div class="w3-third w3-center w3-padding w3-margin-top">
      <h3>About Us</h3>
      <p>eShikhon is an online learning platform that provides quality education to students across Bangladesh. We are committed to empowering individuals through education and helping them achieve their career goals.</p>
    </div>
  </div>
{% endblock %}
